# envs/prod/platform-addons/terraform.tfvars.example

team = "team1"
env  = "prod"

# 오픈소스 플랫폼 Helm 차트 버전 정의 (팀의 표준 버전을 예시로 기재)
argocd_chart_version     = "7.3.1"
prometheus_stack_version = "69.8.2"
keda_chart_version       = "2.12.0"